.sidebar-section {
  flex: 1;
  background-color: #ffd9a8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-section h2 {
  color: white;
  font-size: 32px;
}