.bottom-bar {
  background-color: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  border-top: 2px solid #d9884e;
}

.bottom-bar p {
  font-size: 14px;
  color: #2d5016;
  text-align: center;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
