/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main app container */
.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0faf0;
}

/* Main content area - split layout */
.main-content {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
}

