.top-bar {
  background-color: #d9884e;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  font-size: 48px;
  font-weight: bold;
  color: #2d5016;
  font-family: 'Montserrat', 'Avenir', 'Helvetica Neue', 'Arial Rounded MT Bold', sans-serif;
  letter-spacing: 1px;
  text-shadow: 
    -1px -1px 0 #a8d5a8,
    1px -1px 0 #a8d5a8,
    -1px 1px 0 #a8d5a8,
    1px 1px 0 #a8d5a8;
}
