
.calendar-section {
  width: 100%;
  background-color: #f0faf0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  color: #2d5016;
  margin-bottom: 10px;
  margin-left: 2.5%;
  font-family: 'Quicksand', 'Trebuchet MS', 'Lucida Sans', sans-serif;
  letter-spacing: -0.5px;
}

.calendar-box {
  background-color: #ffd9a8;
  border: 4px solid #d9884e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 95%;
  height: 80vh;
  margin-bottom: 200px;
  padding: 20px;
}

.calendar-box h2 {
  color: white;
  font-size: 32px;
}